

#banner{
	width: 100%;
	z-index: 1;
	position: relative;
	top: 150px;
}

.jumbotron{
	margin-top: -200px;
	background-color: black;

}

.row .user{
	background-color: gray;
}

.panel-body{
	background-color: lightgray;
}

.panel-footer{
	background-color: darkgray;
}
.jumbotron h1 {
	color: limegreen;
	position: relative;
	top: -45px;
	left: -25px;
	z-index: 2;
}
.top{
	color: white;
	position: relative;
	z-index: 2;
	top: 75px;
	font-family: 'Chewy', cursive;
}
.form-control{
	max-width: 50%;
	display: inline-block;
}

#searchBox{
	text-align: center;
}
.id{
	display: none;
}
.left{
	min-height: 150px;
	width: 161px;
}

.middle{
	min-height: 150px;
	
}

.right {
	min-height: 150px;
	width: 161px;
}

.sign-up-box{
	height:300px;
	width:300px;
}

.input_box{
	width: 100%;
}

.last {
	text-align: center;
	display: none;
	color: white;
	font-family: 'Chewy', cursive;
	font-size: 50px;
}

.footer{
	color: white;
}
body {
	background-color: black;
}

h2{
	color: white;
	font-family: 'Chewy', cursive;
}

h4 {
	font-family: 'Chewy', cursive;
}

