

#banner{
	width: 100%;
	z-index: 1;
	position: relative;
	top: 150px;
}

.jumbotron{
	margin-top: -200px;
}

h1 {
	color: limegreen;
	position: relative;
	top: -35px;
	left: -15px;
	z-index: 2;
}
.top{
	color: white;
	position: relative;
	z-index: 2;
}
.form-control{
	max-width: 50%;
	display: inline-block;
}

#searchBox{
	text-align: center;
}
.id{
	display: none;
}
.left{
	min-height: 150px;
	width: 161px;
}

.middle{
	min-height: 150px;
	
}

.right {
	min-height: 150px;
	width: 161px;
}

.sign-up-box{
	height:300px;
	width:300px;
}

.input_box{
	width: 100%;
}






