<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>B-side Reviews</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/static/js/javascript.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

  </head>
  <body>
<header>

    <div class="jumbotron"><img src="/static/images/mst3k.png" id="banner">
      <div class="container">
        <h1>B-Side reviews</h1>
        <p class='top'>Movie reviews by people, for people</p>
      </div>
    </div>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"> Awesome Movie Search</a>
    </div>
    <div>
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form id='searchBox'>
          <input id="movieSearch" type="text" class="form-control" placeholder="movie search">
          <input class="btn btn-primary" type="submit" value="Search">
        </form>
      </div>
    </div>
  </div>
              <hr><!-- indentation here is surprising -->
              <div class="container">
              <div class='row'>
              <div class="col-sm-2 left"></div>
              <div class="col-sm-8 middle">
              <div class='movieResults'></div>
              <div class="last">Last Review Created: </div>
              <div class='userReview'>
              </div></div>
              <div class="col-sm-2 right"></div>
              </div>
              </div>
    </div>
  </div>
<footer>
<br />
  <div class="panel panel-default">
    <div class="panel-body">

        <h1 class="mid text-center"> Wanna get in touch?</h1>
    </div>
  </div>

        <p class="text-center footer"><small>(c) Copyright 2015 B-side Reviews. All rights Reserved.</small></p>
        </p>

<!-- create review modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="postReviewModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Review</h4>
          </div>
          <div class="modal-body">
            <fieldset class='form-horizontal'>

            <!-- Text input-->
            <form id='postReview'>
              <div class="form-group">
                <label class="col-md-4 control-label" for="userName" autofocus>User Name</label>
                <div class="col-md-4">
                <input id="userName" name="userName" type="text" placeholder="user name" class=" input-lg" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="review">Review</label>
                <div class="col-md-4">
                  <textarea id="review" rows="10" cols="50"></textarea>
                </div>
              </div>
            </form>
            </fieldset>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveReview">Save Review</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



<!-- edit review modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="editReviewModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Update Review</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <form id='editModal'>
              <div class="form-group">
                <label class="col-md-4 control-label" for="userName">User Name</label>

                <input id="editUserName" name="userName" type="text" placeholder="username" class=" input-lg" required="">
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="review">Review</label>

                    <textarea id="editReview" rows="10" cols="50" autofocus></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <!-- Consider deleting/hiding this button and adding/showing it upon data entry. -->
          <button type="button" class="btn btn-success" id="updateReview">Save Changes</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</footer>
</body>
</html>
