<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/static/js/javascript.js"></script>
  </head>
  <body>
<header>
    <div class="jumbotron">
      <div class="container">
        <h1>B-Side reviews</h1>
        <p>Movie reviews by people, for people</p>
      </div>
    </div>
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"> awesome movie search</a>
    </div>
    <div>
      <ul class="nav navbar-nav toRight">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">movies</a></li>
        <li><a href="#">users</a></li> 
      </ul>
    </div>
  </div>
</nav>
</header>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form id='searchBox'>
          <input id="movieSearch" type="text" class="form-control" placeholder="movie search">
          <input class="btn btn-primary" type="submit" value="Search">
        </form>
      </div>
    </div>
  </div>

              <div class="container">
              <div class='row'>
              <div class="col-sm-2 left"></div>
              <div class="col-sm-8 middle">
              <div class='movieResults'></div>
              <div class='userReview'>
              </div></div>
              <div class="col-sm-2 right"></div>
              </div>
              </div>
    </div>
  </div>
<footer>
<br />
  <div class="panel panel-default">
    <div class="panel-body">
      
        <h1 class="mid text-center"> Wanna get in touch?</h1>
    </div>
  </div>

        <p class="text-center"><small>(c) Copyright 2013 Product Name. All rights Reserved.</small></p>
        </p>

    
  </div>
</footer>
</body>
</html>